.footer_contaier{
    background-image: url('../../../images/header-container-gb.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 25px 50px 75px 100px; */
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.footer_link ul li a{
    text-decoration: none
}
.footer_link ul{
    padding: 0px;
    margin: 0rem;
}
.footer_link ul li{
    list-style: none;
    padding: 0px;
    line-height: 28px;
}


/* .copyright-container{
    border-top: 2px solid block;
    padding: 10px;
} */